<div id="built-in-git" class="swimlane">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{'/assets/imgs/home-git.svg' | relative_url}}" alt="Git" class="screenshot">
            </div>
            <div class="col-sm-7 col-sm-push-1">
                <h2>Git commands built-in.</h2>
                <p>Working with Git and other SCM providers has never been easier. Review diffs, stage files, and make commits right from the editor. Push and pull from any hosted SCM service.</p>
            </div>
        </div>
    </div>
</div>