<div id="hundreds-of-extensions" class="swimlane hundreds-extensions">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <a id="home-marketplace-link" href="https://marketplace.visualstudio.com/VSCode" target="_blank"><img src="{{'/assets/imgs/Hundreds-of-Extensions.png' | relative_url }}" class="hundreds-extensions-img" alt="Easily use extensions in VS Code"></a>
            </div>
            <div class="col-sm-7 col-sm-pull-4">
                <h2>Extensible and customizable.</h2>
                <p>Want even more features? Install extensions to add new languages, themes, debuggers, and to connect to additional services. Extensions run in separate processes, ensuring they won't slow down your editor. <a id="home-extension-gallery-doc-link" href="/docs/editor/extension-gallery">Learn more about extensions.</a>
                </p>
            </div>
        </div>
    </div>
</div>