<div class="alt-downloads swimlane-container insiders-callout">
    <div class="swimlane">
        <div class="container">
            <div class="row">
                <div class="terms text-center">
                    <h2 class="faux-h3">Want new features sooner?</h2>
                    <p class="call-to-action">Get the <a href="{{'/insiders' | relative_url}}">Insiders build</a> instead.</p>
                </div>
            </div>
            <div class="alt-downloads">
                <div id="home-terms" class="terms">
                    <h3 class="faux-h4">License and Privacy Terms</h3>
                    <p>
                        By downloading and using Visual Studio Code, you agree to the <a id="home-license-link" href="/License/">license terms</a>                        and <a href="https://go.microsoft.com/fwlink/?LinkID=528096&amp;clcid=0x409">privacy statement</a>. VS
                        Code automatically sends telemetry data and crash dumps to help us improve the product. If you would
                        prefer not to have this data sent please go see <a href="https://code.visualstudio.com/docs/supporting/FAQ#_how-to-disable-crash-reporting">How to Disable Crash Reporting</a>                        to learn how to disable it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>