<div class="swimlane getting-started">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 vscode-for">
                <h2>VS Code for</h2>
            </div>
            <div class="col-sm-6 home-languages-list-parent">
                <div class="mask"></div>
                <div class="supported-languages-list">
                    <ul id="supportedList">
                        <li>Swift</li>
                        <li>JavaScript</li>
                        <li>Less</li>
                        <li>Dockerfile</li>
                        <li>C#</li>
                        <li>PowerShell</li>
                        <li>Python</li>
                        <li>XML</li>
                        <li>HTML</li>
                        <li>Lua</li>
                        <li>Visual Basic</li>
                        <li>C++</li>
                        <li>SQL</li>
                        <li>Makefile</li>
                        <li>Perl</li>
                        <li>R</li>
                        <li>Ruby</li>
                        <li>PHP</li>
                        <li>Coffee Script</li>
                        <li>JSON</li>
                        <li>Sass</li>
                        <li>Java</li>
                        <li>Objective-C</li>
                        <li>Rust</li>
                        <li>CSS</li>
                        <li>Ini</li>
                        <li>F#</li>
                        <li>Jade</li>
                        <li>Groovy</li>
                        <li>Go</li>
                        <li>HandleBars</li>
                        <li>Clojure</li>
                        <li>Razor</li>
                        <li>Batch</li>
                        <li>TypeScript</li>
                        <li>Markdown</li>
                        <li></li><li></li><li></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row caption">
            <div class="col-sm-12">
                <a id="home-get-started-now-link" class="link-button" href="{{'/docs' | relative_url}}">Get Started Now</a>
            </div>
        </div>
    </div>
</div>