<div id="alt-downloads" class="swimlane alt-downloads download-buttons win">
        <div class="buttons">
          <div class="download">
            <div class="logo windows"></div>
            <button class="link-button dlink" data-os="win" aria-label="Windows download" role="link">
              <img class="download-icon" src="/assets/icons/download.svg" width="18px" height="18px" alt="Download VS Code">
              <img class="download-icon-accessible" src="/assets/icons/download-black.svg" width="18px" height="18px" alt="Download VS Code"> Windows
              <small>Windows 7, 8, 10</small>
            </button>
      
            <table class="win-downloads">
              <colgroup>
                <col>
                <col>
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td><strong>User Installer</strong></td>
                  <td><a class="dlink" data-os="win64user" href="#" role="link" aria-label="Windows User install 64 bit">64 bit</a></td>
                  <td><a class="dlink" data-os="win32user" href="#" role="link" aria-label="Windows User install 32 bit">32 bit</a></td>
                </tr>
                <tr>
                  <td><strong>System Installer</strong></td>
                  <td><a class="dlink" data-os="win64" href="#" role="link" aria-label="Windows System install 64 bit">64 bit</a></td>
                  <td><a class="dlink" data-os="win32" href="#" role="link" aria-label="Windows System install 32 bit">32 bit</a></td>
                </tr>
                <tr>
                  <td><strong>.zip</strong></td>
                  <td><a class="dlink" data-os="winzip" href="#" role="link" aria-label="Windows ZIP 64 bit">64 bit</a></td>
                  <td><a class="dlink" data-os="win32zip" href="#" role="link" aria-label="Windows ZIP 32 bit">32 bit</a></td>
                </tr>
              </tbody>
            </table>
      
          </div>
      
          <div class="download">
            <div class="logo linux"></div>
            <button class="link-button dlink" data-os="linux64_deb" aria-label="Linux Debian Ubuntu download" role="link">
              <img class="download-icon" src="/assets/icons/download.svg" width="18px" height="18px" alt="Download VS Code">
              <img class="download-icon-accessible" src="/assets/icons/download-black.svg" width="18px" height="18px" alt="Download VS Code"> .deb
              <small>Debian, Ubuntu</small></button>
            <button class="link-button dlink" data-os="linux64_rpm" aria-label="Linux Red Hat Fedora SUSE download" role="link">
              <img class="download-icon" src="/assets/icons/download.svg" width="18px" height="18px" alt="Download VS Code">
              <img class="download-icon-accessible" src="/assets/icons/download-black.svg" width="18px" height="18px" alt="Download VS Code"> .rpm
              <small>Red Hat, Fedora, SUSE</small>
            </button>
      
            <table class="linux-downloads">
              <colgroup>
                <col>
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td><strong>.deb</strong></td>
                  <td><a class="dlink" data-os="linux64_deb" href="#" role="link" aria-label="Linux Debian Ubuntu 64 bit download">64 bit</a></td>
                </tr>
                <tr>
                  <td><strong>.rpm</strong></td>
                  <td><a class="dlink" data-os="linux64_rpm" href="#" role="link" aria-label="Linux Red Hat Fedora SUSE 64 bit download">64 bit</a></td>
                </tr>
                <tr>
                  <td><strong>.tar.gz</strong></td>
                  <td><a class="dlink" data-os="linux64" href="#" role="link" aria-label="Linux .tar.gz 64 bit download">64 bit</a></td>
                </tr>
                <tr>
                  <td colspan="2" style="padding-top: 6px;"><strong><a href="https://snapcraft.io/code">Snap Store</a></strong></td>
                </tr>
              </tbody>
            </table>
      
          </div>
          <div class="download">
            <div class="logo mac"></div>
            <button class="link-button dlink" data-os="osx" aria-label="Mac download" role="link">
              <img class="download-icon" src="/assets/icons/download.svg" width="18px" height="18px" alt="Download VS Code">
              <img class="download-icon-accessible" src="/assets/icons/download-black.svg" width="18px" height="18px" alt="Download VS Code"> Mac
              <small>macOS 10.10+</small></button>
          </div>
        </div>
      
      </div>