<div id="meet-intellisense" class="swimlane">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{'/assets/imgs/home-intellisense.svg' | relative_url}}" alt="Intellisense" class="screenshot">
            </div>
            <div class="col-sm-7 col-sm-push-1">
                <h2>Meet IntelliSense.</h2>
                <p>Go beyond syntax highlighting and autocomplete with IntelliSense, which provides smart completions based on variable types, function definitions, and imported modules.</p>
            </div>
        </div>
    </div>
</div>