<div class="value-props text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-intellisense-link" href="#meet-intellisense"><div class="value-prop-icon intellisense" style="background-image: url({{'/assets/icons/valueprops-top-sprite.svg' | relative_url}})"></div>IntelliSense</a></div>
            <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-debugging-link" href="#powerful-debugging"><div class="value-prop-icon debugging" style="background-image: url({{'/assets/icons/valueprops-top-sprite.svg' | relative_url}})"></div>Debugging</a></div>
            <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-git-link" href="#built-in-git"><div class="value-prop-icon git" style="background-image: url({{'/assets/icons/valueprops-top-sprite.svg' | relative_url}})"></div>Built-in Git</a></div>
            <div class="col-sm-3 col-xs-6"><a class="value-prop" id="home-value-prop-extensions-link" href="#hundreds-of-extensions"><div class="value-prop-icon extensions-icon" style="background-image: url({{'/assets/icons/valueprops-top-sprite.svg' | relative_url}})"></div>Extensions</a></div>
        </div>
    </div>
</div>