<div class="swimlane social-proof">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carousel-social-proof" class="carousel slide" data-ride="carousel" data-interval="false">

                    <div class="carousel-inner" role="listbox">
                        
                        <div class="item active">
                            <div class="container-fluid">
                                <div class="row tweets" tabindex="0" aria-label="Tweets list contains 6 tweets">
                                    <!-- Tweet -->
                                    <div id="tweet-0_0" class="col-md-4">
                                            <a class="profile-image" href="https://twitter.com/Una/status/1127957563876753409" target="_blank" role="img" aria-labelledby="tweet-0_0-name" style="background-image: url({{'/assets/socialproof/twitterprofiles/Una.jpg' | relative_url}})"></a>
                                            <div class="text-content">
                                                <a class="attribution" href="https://twitter.com/Una/status/1127957563876753409" target="_blank">
                                                    <strong id="tweet-0_0-name" class="name">Una Kravets</strong>
                                                    <span class="handle" src="#">@Una</span>
                                                </a>
                                                <div class="tweet-body">
                                                    VS <a href="https://twitter.com/code" target="_blank">@code</a> does so many things right. I’m constantly impressed by the UX, and customizing workspace / user preferences is no exception. 🙌🏼💯 It just keeps getting better ❤️
                                                </div>
                                            </div>
                                    </div>
                                    <div id="tweet-0_1" class="col-md-4">
                                            <a class="profile-image" href="https://twitter.com/jadbox/status/1124055202930339852" target="_blank" role="img" aria-labelledby="tweet-0_1-name" style="background-image: url({{'/assets/socialproof/twitterprofiles/jadbox.jpg' | relative_url}})"></a>
                                            <div class="text-content">
                                                <a class="attribution" href="https://twitter.com/jadbox/status/1124055202930339852" target="_blank">
                                                    <strong id="tweet-0_1-name" class="name">Jonathan Dunlap</strong>
                                                    <span class="handle" src="#">@jadbox</span>
                                                </a>
                                                <div class="tweet-body">
                                                    Awesome - VS Code will have deep remote development: you can connect to a container running a different OS and be able to use any VS Code plugins/linting/debugging for that environment. 🔥🔥🔥
                                                </div>
                                            </div>
                                    </div>
                                    <div id="tweet-0_2" class="col-md-4">
                                            <a class="profile-image" href="https://twitter.com/PKodmad/" target="_blank" role="img" aria-labelledby="tweet-0_2-name" style="background-image: url({{'/assets/socialproof/twitterprofiles/PKodmad.jpg' | relative_url}})"></a>
                                            <div class="text-content">
                                                <a class="attribution" href="https://twitter.com/PKodmad/" target="_blank">
                                                    <strong id="tweet-0_2-name" class="name">Pavithra Kodmad</strong>
                                                    <span class="handle" src="#">@PKodmad</span>
                                                </a>
                                                <div class="tweet-body">
                                                    VS Code is my most used and favorite editor. I love being able to customize the editor - changing the layout, the icons, fonts and color scheme is so easy!
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="row tweets" tabindex="0" aria-label="Tweets list contains 6 tweets">
                                    <!-- Tweet -->
                                    <div id="tweet-1_0" class="col-md-4">
                                            <a class="profile-image" href="https://twitter.com/MrDarrenV/status/1144005978901372928" target="_blank" role="img" aria-labelledby="tweet-1_0-name" style="background-image: url({{'/assets/socialproof/twitterprofiles/MrDarrenV.jpg' | relative_url}})"></a>
                                            <div class="text-content">
                                                <a class="attribution" href="https://twitter.com/MrDarrenV/status/1144005978901372928" target="_blank">
                                                    <strong id="tweet-1_0-name" class="name">Darren</strong>
                                                    <span class="handle" src="#">@MrDarrenV</span>
                                                </a>
                                                <div class="tweet-body">
                                                    Just as I thought <a href="https://twitter.com/code" target="_blank">@code</a> couldn't get better, out comes its Remote Development plugins in the Stable version that let you remote into containers as a dev environment! 😍
                                                </div>
                                            </div>
                                    </div>
                                    <div id="tweet-1_1" class="col-md-4">
                                            <a class="profile-image" href="https://twitter.com/cassidoo/" target="_blank" role="img" aria-labelledby="tweet-1_1-name" style="background-image: url({{'/assets/socialproof/twitterprofiles/cassidoo.jpg' | relative_url}})"></a>
                                            <div class="text-content">
                                                <a class="attribution" href="https://twitter.com/cassidoo/" target="_blank">
                                                    <strong id="tweet-1_1-name" class="name">Cassidy Williams</strong>
                                                    <span class="handle" src="#">@cassidoo</span>
                                                </a>
                                                <div class="tweet-body">
                                                    I was a vim fan, but then discovered VS Code's Vim plugin, which lets me add in my vim keybindings. I can maintain my coding style without having to compromise on speed.
                                                </div>
                                            </div>
                                    </div>
                                    <div id="tweet-1_2" class="col-md-4">
                                            <a class="profile-image" href="https://twitter.com/lauragift21/" target="_blank" role="img" aria-labelledby="tweet-1_2-name" style="background-image: url({{ '/assets/socialproof/twitterprofiles/lauragift21.jpg' | relative_url }})"></a>
                                            <div class="text-content">
                                                <a class="attribution" href="https://twitter.com/lauragift21/" target="_blank">
                                                    <strong id="tweet-1_2-name" class="name">Gift Egwuenu</strong>
                                                    <span class="handle" src="#">@lauragift21</span>
                                                </a>
                                                <div class="tweet-body">
                                                    I love <a href="https://twitter.com/code" target="_blank" >@code,</a> the built-in markdown previewer is awesome and the plugin system allows me to use GitLens, which makes my workflow so much easier.
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <a class="left carousel-control" href="#carousel-social-proof" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-social-proof" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>